<!--action="https://cryptic-lake-82663.herokuapp.com/register" method="post"

[ngModel]="value" this is optional
we can also use 
ngModel 
instead so that we don't show default data
-->



<form #login="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>

    <div class="form-group">
        <label class="control-label" for="email">Email:</label>
        <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" id="email" name="email" [(ngModel)]="loginModel.email" required autofocus>
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is invalid</small>
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Password:</label>
        <input type="password"  [class.is-invalid]="password.invalid && password.touched" class="form-control" #password="ngModel" id="password" name="password" [(ngModel)]="loginModel.password" required autofocus>
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is invalid</small>
    </div>
    
    <br><br>
    <button [disabled]="login.form.invalid" class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" type="reset">Clear</button>
    
</form>
  